@font-face {
	font-family: Neue Frutiger;
	font-weight: 400;
	src: url("fonts/f-regular.otf") format("opentype");
}

@font-face {
	font-family: Neue Frutiger;
	font-weight: 300;
	src: url("fonts/f-light.otf") format("opentype");
}

@font-face {
	font-family: Neue Frutiger;
	font-weight: 200;
	src: url("fonts/f-thin.otf") format("opentype");
}

@font-face {
	font-family: Neue Frutiger;
	font-weight: 500;
	src: url("fonts/f-black.otf") format("opentype");
}

* {
	font-family: Neue Frutiger, Georgia, sans-serif;
}

.icon {
	height: 100px;
	margin-top: 6rem;
}

body {
	margin: 0;
}

.flex {
	display: flex;
	flex-direction: column;
	overflow-x:hidden;
	justify-content: center;
}

.footer {
	width: 100%;
	margin-top: 1rem;
	border-top: 1px solid #f6f6f6;
}

.footer-wrapper {
	margin: 3rem 0;
	text-align: center;
	display: flex;
	justify-content: center;
}

.nav {
	display: flex;
	width: 100%;
	margin: 1rem 0;
	justify-content: space-between;
}

.logo>svg>path, .logo>svg>g>path {
	fill: #e1e1e1;
}

.logo:hover>svg>path, .logo:hover>svg>g>path {
	fill: #b5b5b5;
}

.footer-wrapper>a {
	text-decoration: none;
	color: #bebebe;
	font-size: 11px;
	letter-spacing: 1px;
	margin: 0 1rem;
	text-transform: uppercase;
}


.logo {
	margin: 1rem;
	width: 80px;
	display: flex;
	cursor: pointer;
	justify-content: center;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}

a {
	display: inline-block;
	align-self: center;
}

.spacing {
	padding-bottom: 4rem;
}

.safari-sucks {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 300px;
}

button {
	font-family: Proxima Nova;
	background-color: white;
	font-weight: 600;
	color: white;
	padding: .6rem 1rem;
	letter-spacing: 1px;
	border-radius: 7px;
	border: none;
	border-bottom: 4px solid #c55a13;
	font-size: 18px;
	cursor: pointer;
	position: relative;
	top: 0;
	padding-bottom: calc(0.5rem - 4px);
	align-self: center;
	background: #f67621; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #f67621 0%, #ec5e00 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #f67621 0%,#ec5e00 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #f67621 0%,#ec5e00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f67621', endColorstr='#ec5e00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

button:active {
	border-bottom: 0px;
	top: 4px;
	margin-bottom: 4px;
}

.hero {
	height: 1100px;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.hero-left {
	position: absolute;
	height: 450px;
	margin-top: 100px;
	margin-left: -200px;
	z-index: -1;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, .18);
}

.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.about-img {
	background-image: url("img/about1.jpeg");
	justify-content: center;
	height: 500px;
	background-size: cover;
	border-top: 10px solid white;
	background-repeat: no-repeat;
	background-position: center center;
	flex: 0 0 50%;
}

.footer-about {
	margin: 0;
}

.h1 {
	font-size: 60px !important;
	line-height: 60px;
}

.about-img2 {
	background-image: url("img/about2.jpeg");
	justify-content: center;
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	flex: 0 0 50%;
}

.flex-row {
	display: flex;
	width: 100%;
	flex-direction: row;
}

.block {
	flex: 0 0 50%;
	align-self: center;
}

.about-bg {
	background-image: url("img/about.jpeg");
	background-size: cover;
	width: 100%;
	display: flex;
	justify-content: center;
	align-self: flex-start;
	background-repeat: no-repeat;
	background-position: center center;
	height: 500px;
}

.about-con {
	display: flex;
	align-self: center;
	max-width: 800px;
}

.paw {
	position: relative;
	top: 150px;
	height: 200px;
}

.hero-right {
	position: absolute;
	height: 450px;
	margin-top: 100px;
	margin-left: 250px;
	z-index: -1;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, .18);
}

.hero-text {
	font-size: 40px;
	font-family: Neue Frutiger;
	font-weight: 200;
	margin: 3rem 2rem;
	text-align: center;
  line-height: 50px;
}

.hero-text-sm {
	font-size: 20px;
	font-weight: 400;
	padding-top: 2rem;
	margin: 3rem 2rem;
	text-align: center;
  line-height: 30px;
}



.hero-pics {
	width: 100%;
	justify-content: center;
	display: flex;
}

.iphone {
	background-image: url("img/black-phone.png");
	width: 300px;
	height: 600px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
}

video {
	margin-top: 70px;
	border: 1px solid #2d2d2d;
	border-radius: 2.5px;
}

.padding {
	padding: 2rem;
}

.center {
	display: flex;
	justify-content: center;
}

.job-title {
	padding: 1rem 0;
	margin-bottom: .5rem;
	font-size: 30px;
	font-weight: 300;
	font-family: Neue Frutiger;
}

.footer-careers {
	margin-top: 4rem;
}

.job-container {
	text-align: left;
	width: 700px;
}

.job-container>a {
	display: block;
	cursor: pointer;
	padding: 1rem 0;
	text-decoration: none;
	color: #f67621;
}

@media (max-width: 450px) {
	.hero-right, .hero-left {
		display: none;
	}
	.hero {
		height: 1150px;
	}
	.flex-row {
		flex-direction: column;
	}
	.reverse {
		flex-direction: column-reverse;
	}
}

@media (max-width: 800px) {
	.job-container {
		width: 400px;
		text-align: center;
	}
	.job, .job-title {
		text-align: center;
	}

}
